 {% extends "practices/base.html" %}
{% block body %}
 <script>
 window.onload = function() {  // reload file every second
    setInterval(function() { location.reload(); } , 20000);
  };
  </script>

<h1> {{question.question_name}}</h1>
<small> published on - {{question.pub_date.date}} &lt;&gt; updated on -  {{question.update_date.date}}</small>
<hr>
<h2> Read Question carefully</h2>
<div>
{% for question_area in question_area_set %}
	{% if question_area.text_type == 'EN' %}
		<div class="english" style="color:green;">

			{{question_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if question_area.text_type == 'JL' %}
		<h4>java language </h4>
		<div class="english" style="color:red;">
			<code>{{question_area.text_area|linebreaks}}</code>
		</div>
	{% endif %}
	{% if question_area.text_type == 'IN' %}
			<h3> Input Format</h3>
		<div class="english" style="color:blue;">
			{{question_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if question_area.text_type == 'OT' %}
		<h3>Outpur Format</h3>
		<div class="english" style="color:blue;">
			{{question_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if question_area.text_type == 'CO' %}
		<h3> Constraints</h3>
		<div class="english" style="color:blue;">
			{{question_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if question_area.text_type == 'PY' %}
		<div class="english" style="color:red;">
			<h4>Python language </h4>
			{{question_area.text_area|linebreaks}}
		</div>
	{% endif %}	
{% endfor %}
</div>
<hr>
<div>
{% for answer_area in answer_area_set %}
	{% if answer_area.text_type == 'EN' %}
		<div class="english" style="color:green;">

			{{answer_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if answer_area.text_type == 'JL' %}
		<h4>java language </h4>
		<div class="english" style="color:red;">
			<code>{{answer_area.text_area|linebreaks}}</code>
		</div>
	{% endif %}
	{% if answer_area.text_type == 'IN' %}
			<h3> Input Format</h3>
		<div class="english" style="color:blue;">
			{{answer_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if answer_area.text_type == 'OT' %}
		<h3>Outpur Format</h3>
		<div class="english" style="color:blue;">
			{{answer_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if answer_area.text_type == 'CO' %}
		<h3> Constraints</h3>
		<div class="english" style="color:blue;">
			{{answer_area.text_area|linebreaks}}
		</div>
	{% endif %}
	{% if answer_area.text_type == 'PY' %}
		<div class="english" style="color:red;">
			<h4>Python language </h4>
			{{answer_area.text_area|linebreaks}}
		</div>
	{% endif %}	
{% endfor %}
</div>
{% endblock body %}